.footer{
    padding-top: 204px;
    text-align: center;
    height: 40vh;
    color: blanchedalmond;
}
/*==================media queries======================*/

@media screen and (max-width: 1024px) {
  
  .footer{
    height: 23vh;
    padding-top: 246px;
  }
  
         
   }
         @media screen and (max-width: 600px) {
          
            .footer{
                height: 23vh;
                padding-top: 246px;
              }

        }